@model IEnumerable<FootballersCatalogue.Models.Player>
@{
    ViewData["Title"] = "Футболисты";
}
<h3>Смартфоны</h3>
<table class="table-condensed">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Пол</td>
        <td>Дата рождения</td>
        <td>Команда</td>
        <td>Страна</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var player in Model)
    {
<tr>
    <td>@player.Name</td>
    <td>@player.Surname</td>
    <td>@player.Gender</td>
    <td>@player.BirthDate</td>
    <td>@player.TeamName</td>
    <td>@player.Country</td>
    <td></td>
    <td><a href="~/Home/Edit/@player.Id">Редактировать</a></td>
    <td><a href="~/Home/Delete/@player.Id">Удалить</a></td>
</tr>
    }
</table>